* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  /* min-height: 4vh; */
  background-color: #B23833;
  color: white !important;
  /* -webkit-box-shadow: 0px 15px 12px -5px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 15px 12px -5px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 15px 12px -5px rgba(0, 0, 0, 0.47); */
}

.navbar-menu {
  max-height: 7vh !important;
  background-color: #B23833;
  color: white;
  /* -webkit-box-shadow: 0px 15px 12px -5px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 15px 12px -5px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 15px 12px -5px rgba(0, 0, 0, 0.47); */
}

.navbar.admin {
  background-color: black;
}

.user-register-btn {
  background-color: '#fff' !important;
  color: #3F51B5 !important;
  border: 2px solid #3F51B5 !important;
}

/* .navbar-left{
  margin-left: 9%;
} */

/* .navbar-right{
  margin-right: 8%;
} */

.body {
  background-color: rgb(241, 240, 240);
  padding-bottom: 3%;
}

.header {
  min-height: 130px;
  /* margin-left: 2%; */
}

.headerr {
  max-width: 100%;
}

.header-left {
  text-align: center;
  margin-left: 7%;
  padding-top: 1%;
}

.test {
  background-color: turquoise;
}

.header-logo {
  max-width: 40%;
  height: auto;
  margin-left: 4%;
  margin-top: 1%;
}

.header-right {
  padding-top: 2.5%;
  text-align: center;
}

.menu-icon {
  color: #B23833;
  /* margin-top: 2%; */
  border: 1px solid #B23833;
  border-radius: 20px;
  padding: 5px;
}

.contact-info {
  display: inline;
  margin-left: 3%;
  font-size: 16px;
}

.contact-info-title {
  font-weight: bold;
}

.contact-info-detail {
  opacity: 0.6;
  font-size: 14px;
  /* margin-left: 1%; */
}

.luar {
  padding: 0 !important;
}

.container-menu {
  margin-left: 6%;
  padding-top: 0;
  margin-right: 10%;
}

/* 
li.menu{
   margin-left: 30%;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: none;
}

li.menu:hover{
  background-color: white;
  color: #B23833 !important;
}

.al{
  color: white;
}

.al:hover{
  background-color: white;
  color: #B23833;
}


a.menu-item{
  color: white;
  width: max-content;
} 
*/

.nav-menu {
  color: white !important;
  opacity: 0.9;
  /* margin-right: 7vh; */
}

/* .nav-menu:hover {
  background-color: white;
  color: #B23833 !important;
  border-radius: 3px;
} */

.login-dropdown {
  background-color: #B23833 !important;
  border: 0px solid white !important;
}

.dropdownitem {
  min-width: 300px;
  padding: 5%;
}

.btn-signin {
  width: 100%;
  background-color: #B23833 !important;
}

.forgot-password {
  color: #0056B3;
  font-size: 15px;
  text-align: center;
  margin-top: 3%;
}

.jumbotron-landingpage {
  min-height: 73vh;
  background-image: url('./img/websiteimg/close-up-of-telephone-booth-257736.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.9);
  border-radius: 0 !important;
}

.jumbotron-landingpage h1 {
  color: black;
}

.latest-products {
  max-height: 10%;
}

.latest-products, .featured-products {
  text-align: center;
}

.about-company h2 {
  text-align: center;
}

.about-company p {
  opacity: 0.7;
  text-align: justify;
}

.about-company .container-fluid img {
  border: 8px double #B23833;
  border-radius: 0px 40px 0px 40px;
  -webkit-box-shadow: -6px 1px 9px 5px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -6px 1px 9px 5px rgba(0, 0, 0, 0.49);
  box-shadow: -6px 1px 9px 5px rgba(0, 0, 0, 0.49);
}

.above-footer {
  /* height: 8vh; */
  /* 
  min-height: 11vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /* background: rgb(93, 144, 194);
  background: radial-gradient(circle, rgba(93, 144, 194, 0.8912158613445378) 0%, rgba(0, 0, 0, 1) 100%);
  color: white;
  -webkit-box-shadow: 0px -6px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -6px 19px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -6px 19px 0px rgba(0, 0, 0, 0.75); */
  background-image: url('./img/websiteimg/abovepattern_bg.png');
  border-top: 1px solid grey;
  /* border-bottom: 1px solid grey; */
}

.style1 {
  /* border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff; */
  border: 1px outset;
  background-color: #B23833;
  height: 1px;
  width: 100%;
}

.style2 {
  border: 1px outset;
  background-color: #B23833;
  color: #B23833;
  height: 1px;
  width: 25%;
}

.style3 {
  /* height:1px; */
  width: 90%;
}

hr.style1:after {
  content: '';
  display: block;
  margin-top: 2px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

.title {
  padding-left: 8%;
  font-weight: bold;
}

.footer {
  background-color: rgb(194, 194, 194);
  color: rgb(43, 43, 43) !important;
  border-top: 1px solid black;
}

.footer-left {
  display: inline;
}

.footer-text {
  color: black !important;
}

.subscribe-desc {
  text-align: left;
}

li a {
  color: grey;
}

.jumbotron-companyprofile {
  border-radius: 0 !important;
  background: rgb(0, 0, 0);
  background: linear-gradient(315deg, rgba(0, 0, 0, 1) 66%, rgba(255, 255, 255, 0.9500393907563025) 100%);
}

.jumbotron-companyprofile h2 {
  color: white;
  text-align: center !important;
}

.jumbotron-contactus {
  border-radius: 0 !important;
  /* background: rgb(63,94,251); */
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
}

.jumbotron-contactus h1 {
  text-align: center;
  color: white;
}

.sizecardcarousel {
  height: 500px;
}

.carousel-indicators {
  /* margin: 100px 240px 16px 240px; */
  top: 450px;
  color: rgb(151, 104, 102);
}

.carousel-indicators .active {
  /* margin: 100px 240px 16px 240px; */
  top: 450px;
  background-color: #f00;
}

/* .card{
  max-height: 10vh;
} */

.card:hover {
  border: 1px solid #2196f3;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
}

.mdbcardtitle {
  color: black;
}

.cardimage {
  /* max-width: 100%; */
  width: 100%;
  height: 30vh;
}

.companyprofile-icon {
  width: 16%;
  height: auto;
}

/* .product{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  min-height: 500px;
  padding: 1%;

  -webkit-box-shadow: 0px 0px 65px 6px rgba(196,196,196,0.82);
-moz-box-shadow: 0px 0px 65px 6px rgba(196,196,196,0.82);
box-shadow: 0px 0px 65px 6px rgba(196,196,196,0.82);
} */

.product-listitem {
  text-align: center !important;
}

.product-listitem .card-text {
  font-size: 1.5vh;
  font-weight: bold;
  color: #6C757D;
  margin: 0;
}

.product-listitem .card-title {
  font-size: 2vh;
}

/* .productdetail {
  min-height: 50vh;
} */

.adminproducts .card-text {
  font-size: 1.5vh;
  color: black;
  opacity: 0.7;
}

.adminproducts .card-title {
  font-size: 1vh;
}

table {
  position: relative;
  border-collapse: collapse;
}

th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.register-navbar {
  background: rgb(0, 0, 0) !important;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 0.8912158613445378) 93%)!important;
}

.userlogin-navbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8912158613445378) 35%, rgba(0, 0, 0, 1) 93%);
}

.deliveryinformation {
  background: white !important;
  /* border-radius: 5px; */
  -webkit-box-shadow: 1px 5px 28px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 28px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 5px 28px -12px rgba(0, 0, 0, 0.75);
}

.ordersummary {
  background: white !important;
  -webkit-box-shadow: 1px 5px 28px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 28px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 5px 28px -12px rgba(0, 0, 0, 0.75);
}

.pendingtransaction {
  border: 2px solid blue;
  /* border: 1px solid black; */
  /* background: red; */
  -webkit-box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.75);
}

.pendingtransaction-card {
  background: white;
  /* -webkit-box-shadow: 1px 5px 28px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 28px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 5px 28px -12px rgba(0, 0, 0, 0.75); */
}

/*----------------- SIDEBAR ----------------- */

a {
  color: inherit;
}

.list-group-flush {
  color: #495057;
}

.active {
  background-color: #e9ecef !;
}

main {
  background-color: #EDEDEE;
}

.navbar-brand {
  margin-left: 15px;
  color: #2196f3 !important;
}

.sidebar-fixed {
  /* left: 0; */
  /* top: 0; */
  /* height: 100vh; */
  width: 280px;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
  /* z-index: 1050; */
  height: 80%;
  /* background-color: rgb(224, 224, 224); */
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
  background: #fff;
}

#content {
  margin-left: 270px;
  position: relative;
  height: 80vh;
  /* min-height: 80%; */
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #49505B;
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  background-color: #f8f9fa
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  background-color: #f8f9fa
}

.list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.full {
  height: 70vh;
}

.bad-gateway-row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card h3, .card.card-cascade h4 {
  margin-bottom: 0px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}

.admin-up .data p {
  color: #999999;
  font-size: 12px;
}

.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}

.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}

.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.form-inline {
  flex-flow: unset
}

.breadcrumb {
  margin: 0;
}

.BtColor {
  width: 10px;
}

/* warna section dashbord yang aktif pada sidebar */

.activeClass .list-group-item {
  z-index: 5;
  color: #fff;
  /* border-color: #2196f3; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  background-color: #2196f3 !important;
  /* background-color: #007bff !important; */
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
  #content {
    margin-left: 0px;
  }
  .page-footer {
    margin-left: 0px;
  }
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }
}

@media (max-width: 576px) {
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }
  #breadcrumb {
    flex-direction: column;
  }
}

/*----------------- SIDEBAR ----------------- */

/*----------------- 404 NOT FOUND----------------- */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url('../src/img//404notfound/emoji.png');
  background-size: cover;
}

.notfound .notfound-404:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
  -ms-transform: scale(2.4);
  transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}

.notfound h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #151723;
}

.notfound p {
  font-family: 'Nunito', sans-serif;
  color: #999fa5;
  font-weight: 400;
}

.notfound a {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #388dbc;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    width: 110px;
    height: 110px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
}

/*----------------- 404 NOT FOUND----------------- */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}